@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header, footer {
  background: darkgrey;
}

main {
  background: skyblue;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container{
  margin: auto;
  max-width: 1200px;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type=text],
select {
  background: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: rgb(90, 194, 235);
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(71, 175, 216);
}

.card .footer a:hover,
header nav ul a:hover {
  background-color: rgb(61, 160, 199);
}

header {
  background: white;
}

header .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 70px;
}

header nav, header section {
  display: grid;
  place-items: center;
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
}

header nav ul a,
.table-list a,
.detail-book-table a {
  background-color: rgb(90, 194, 235);
  color: white;
  padding: 3px 13px;
  margin: 0 10px;
  border-radius: 5px;
}

main {
  flex: 1;
  background: whitesmoke;
}

main section {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;

}

.books-wrapper{
  display: flex;
  flex-flow: row wrap;
}

form {
  max-width: 900px;
  margin: auto;
}

footer {
  display: grid;
  place-items: center;
  height: 50px;
  color: white;
  background: rgb(36, 34, 34);
}

.card {
  display: flex;
  flex-flow: column nowrap;
  min-height: 300px;
  width: 200px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  margin: 15px 10px;
}

.card .header {
  height: 250px;
  width: 100%;
  background: grey;
}

.card .body {
  text-align: left;
  padding: 8px;
}

.card .footer {
  display: grid;
  place-items: center;
  margin: 0 10px 18px 10px;
}

.card .footer a {
  background-color: rgb(90, 194, 235);
  color: white;
  padding: 3px;
  margin: 0 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.form, 
.table-list,
.detail-book-table {
  width:100%;
}

.table-list,
.table-list th,
.table-list td,
.detail-book-table,
.detail-book-table td,
.form,
.form td {
  border-collapse: collapse;
  padding: 10px 3px 10px 10px;
  text-align: left;
  vertical-align: text-top;
}

.table-list, .table-list th, .table-list td{
  border: 1px solid lightgrey;
  padding: 10px 18px;
}

.detail-book-table,
.detail-book-table td{
  /* border: 1px solid lightgrey; */
  padding: 10px 18px;
}

.detail-book-wrapper .list-info {
  width: 60%;
  margin: auto;
}

.detail-book-wrapper .cover {
  max-width: 200px;
  margin: auto;
}